# For macOS
.DS_Store
*/.DS_Store 
/.idea
/cmake-build-debug

# For windows
/code/.vscode
/.vscode
/.vs
/code/out
/code/3rd/freeglut/out
# /PPT与报告
/PPT与报告
/submit
# For all
/code/build
/build
~$6 空间数据应用.docx
/code/CMakeIn.h